html, body {
  height: 100%; /* Se till att hela sidan har 100% höjd */
  margin: 0;
  padding: 0;
}
#map {
  width: 100%;
  height: 80vh !important;
  max-height: 90vh; /* Hindra kartan från att bli för stor */
}

h1 {
  font-family: "Calibri", sans-serif; /* Ändra till önskad font */
  font-size: 36px; /* Justera storleken om du vill */
  font-weight: bold; /* Kan vara normal, bold, etc. */
  text-align: left; /* Centrera texten */
  color: #333; /* Ändra färg om du vill */
}


